.App {
  
  background-color: #2f2735;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vmax;
}

.upload {
  margin: 10px;
}

.webcam {
  height: 60vmin;
  margin: 20px;
  border-radius: 23px;
}

.camcomp {
  align-content: center;
  border-color: black;
  border-radius: 15px;
  border-width: 2px;
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
